<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lococo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Fozzy.Object" publicKeyToken="da510636ee0727d5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.5585.19816" newVersion="1.1.5585.19816"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Lococo.Properties.Settings>
      <setting name="LastUpdateCheckedTime" serializeAs="String">
        <value>2020-01-01</value>
      </setting>
    </Lococo.Properties.Settings>
  </userSettings>
</configuration>
